.jumbotron{
    background-color: black;
    color: white;
}

*{
background-color: black;
color: white;
text-align: center;
}

.heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 79px;
    margin: auto;
    
}
.slideshow{
    text-align: center;
}

